{% extends "@Admin/Default/index.html.twig" %}
{% block content %}
<div class="container form-admin">
    <div class="row">
        <div class="col-md-offset-4">
            {{form_start(form)}}
            {{form_end(form)}}
        </div>
    </div>
</div>
{% endblock content %}
