{% extends "@Admin/Default/index.html.twig" %}
{% block content %}
<div class="container form-admin">
    <div class="row">
        <div class="col-md-offset-4">
            {{form_start(form)}}
            {{form_end(form)}}
            {% if app.session.flashBag.has('add') %}
                {% for msg in app.session.flashBag.get('add') %}
                    {{msg}}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
