{% extends "layoutAdmin.html.twig" %}
{% block body %}
    <div class="col-md-10 content-option">
        {% block content %}
            
        {% endblock content %}     
    </div>
{% endblock body %}
